# list in python
- list in python contains all types of elements in it. it could be any data type.

In [2]:
list1=[1,2,3,5,5,6,'a','b',1.2]

In [3]:
list2=[1,2,3,5,5,6,'a','b',1.2]

In [31]:
list2.insert(1,'ammaar') # it will put the element in given index and the element which was already there will be changed to next index

In [5]:
list2

[1, 'ammaar', 2, 3, 5, 5, 6, 'a', 'b', 1.2]

In [6]:
list1

[1, 2, 3, 5, 5, 6, 'a', 'b', 1.2]

In [7]:
list3=list2

In [8]:
list3

[1, 'ammaar', 2, 3, 5, 5, 6, 'a', 'b', 1.2]

In [32]:
list2.append("hello") # it will add element at the last of list

In [10]:
list3

[1, 'ammaar', 2, 3, 5, 5, 6, 'a', 'b', 1.2, 'hello']

# list Functions in python
- .append()
- .insert(,)
- .pop()
- .reverse()
- .sort()
- .clear()
- .copy()
- .remove()
- .count()
- .extend()

In [33]:
list1.pop() # it will take out the last element of list

'hello'

In [34]:
list1.reverse() # it will reverse the indexing of a list

In [15]:
list1

['b', 'a', 6, 5, 5, 3, 2, 1]

In [18]:
list4=list1.copy() # it will make a shallow copy of that list

In [35]:
list1.extend(list2) # it will add a list into a list

In [20]:
list1

['b',
 'a',
 6,
 5,
 5,
 3,
 2,
 1,
 1,
 'ammaar',
 2,
 3,
 5,
 5,
 6,
 'a',
 'b',
 1.2,
 'hello']

In [21]:
list2

[1, 'ammaar', 2, 3, 5, 5, 6, 'a', 'b', 1.2, 'hello']

In [22]:
list4

['b', 'a', 6, 5, 5, 3, 2, 1]

In [36]:
list4.clear() # it will clear all elements in the list

In [24]:
list4

[]

In [38]:
list3.remove(1) # it will remove the element which will  be inside of it.

In [39]:
list3

['ammaar', 'ali', 3, 5, 5, 6, 'a', 'b', 1.2, 'hello', 'hello']

In [40]:
list2

['ammaar', 'ali', 3, 5, 5, 6, 'a', 'b', 1.2, 'hello', 'hello']

In [41]:
list2.count(5) # it will tell that how  many times that element is present in that list

2

### If we sort a list in which elements are of different data type it will give TypeError.

In [28]:
list2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
list2[1]='ali'

In [30]:
list2

[1, 'ali', 3, 5, 5, 6, 'a', 'b', 1.2, 'hello']